<!DOCTYPE >
<html>
<head>
  <title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/public/layui/css/layui.css" />
  <link rel="stylesheet" href="/public/iconfont/iconfont.css" media="all" />
</head>
<body   >
<div id="div_key" >
      <h1>我是主页</h1>
     <p> <a href="/logout">退出登录</a></p>
     <p> <%= title %></p>
</div>






<script  type="text/javascript" src="/public/javascripts/jquery-1.4.4.min.js" ></script>
<script  type="text/javascript" src="/public/layui/layui.js" ></script>
<script  type="text/javascript" >

</script>
</body>

</html>