<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>jQuery拼图滑块验证</title>
<link type="text/css" rel="stylesheet" href="/public/layui/css/layui.css">
<link type="text/css" rel="stylesheet" href="/public/login/css/style.css">


</head>
<body>
<div class="logo-box">
<div class="login">
<div class="bxs-row" style="text-align:center;font-size:40px;">
    Login
</div>
<div class="bxs-row">
<input type="text" class="username" value="" placeholder="用户名">
<p class=" err err-username"></p>
</div>
<div class="bxs-row">
<input type="password" class="password" placeholder="密码">
<p class="err err-password"></p>
</div>
<div class="bxs-row">
<input type="submit" class="submit btn" value="登录">
</div>
</div>
<div class="verBox">
<div id="imgVer" style="display:inline-block;"></div>
</div>
</div>

</body>


<!-- <script src="/public/javascripts/jquery-1.4.4.min.js"></script> -->
<script src="/public/login/js/jquery-1.10.2.js"></script>
<script src="/public/login/js/img_ver.js"></script>
<script src="/public/layui/layui.js"></script>
<script src="/public/login/js/login.js"></script>
<script>

 
</script>
</html>