<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link type="text/css" rel="stylesheet" href="/public/layui/css/layui.css">
  <link type="text/css" rel="stylesheet" href="/public/login/css/style.css">

</head>

<body>
  <div class="logo-box">
    <div class="login">
      <div class="bxs-row" style="text-align:center;font-size:40px;">
        Login
      </div>
      <div class="bxs-row">
        <input type="text" class="username" value="" placeholder="用户名">
        <p class=" err err-username"></p>
      </div>
      <div class="bxs-row">
        <input type="password" class="password" placeholder="密码">
        <p class="err err-password"></p>
      </div>
      <div class="bxs-row">
        <div style="width:100%;vertical-align: middle;">
          <input style="width:70%;float: left;" type="text" class="yzm" placeholder="验证码">
          <div style="width:30%;float: right;">
            <img id="imgyzm" src="/api/yzmcode" onclick="$(event.target).attr('src','/api/yzmcode?'+Math.random())">
          </div>
        </div>
        <p class="err err-yzm"></p>
      </div>
      <div class="bxs-row" style="margin-top: 18px;">
        <input type="submit" class="submit btn" value="登录">
      </div>
      <div class="bxs-row footimg">
        <div class="layui-btn-group">
          <a href="https://graph.qq.com/oauth2.0/authorize?response_type=token&client_id=101490224&redirect_uri=http://localhost:3000/proxy&scope=get_user_info,list_album,upload_pic,do_like&state=1" target="_self"><img class="qqlogin" src="/public/images/material/qq24.png" title="QQ登录"></a>
          <img class="wechatlogin" src="/public/images/material/wechat24.png" title="微信登录">
          <img class="weibologin" src="/public/images/material/weibo24.png" title="微博登录">
        </div>
        <div class="layui-btn-group footspan" >
           <a href="javascript:;" id="C_wjmm"> <span class="wjmm">忘记密码？</span></a>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="/public/login/js/jquery-1.10.2.js"></script>
<script src="/public/javascripts/axios.min.js"></script>
<script src="/public/layui/layui.js"></script>
<script src="/public/login/js/login.js"></script>
<script>
  // $(".qqlogin").click(function () {
  //   alert("QQ登录【开发中】")
  // });
  $(".wechatlogin").click(function () {
    alert("微信登录【开发中】")
  });
  $(".weibologin").click(function () {
    alert("微博登录【开发中】")
  });
  $("#C_wjmm").click(function(){
  alert("忘记密码【开发中】");
  })
</script>

</html>